html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 35%;
  box-sizing: border-box;
  background-color: rgb(29, 28, 28);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.introduction {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
}

.introduction>img {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1, h2, h6 {
  margin: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.2rem;
}

.professional-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

nav>div {
  width: fit-content;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linkedIn {
  padding-left: 10px;
}

.portfolio {
  padding-left: 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  height: fit-content;
  box-sizing: border-box;
  border-top: 0.2rem solid rgb(80, 77, 77);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1.5rem;
  width: fit-content;
  border-right: 0.2rem solid rgb(80, 77, 77);

}

aside>section {
  height: fit-content;
}

aside>section>ul {
  margin-top: 1.5rem 0;
  text-decoration: none;
}

.noFirstSection {
  margin-top: 3rem;
}

aside>section>ul>li {
  padding-top: 12px;
  box-sizing: border-box;
}

.labor-education {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 53rem;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}

.labor-education>section {
  width: 100%;
  height: fit-content;

}

.labor-education>.noLastOne {
  border-bottom: 0.1rem solid rgb(80, 77, 77);
  padding-bottom: 3rem;
}

.labor-education>.noFirstOne {
  padding-top: 2rem;
}

.education>section>div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-top: 0.2rem solid rgb(80, 77, 77);
  box-sizing: border-box;
}

footer>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem 1rem;
  box-sizing: border-box;

}

footer>div>span {
  padding-right: 0.5rem;
}

@media (max-width: 500px) {
  html, body{
    width: 100vh;
    height: 100vh;
  }
  * {
    font-size: 1rem;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100vh;
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .introduction{
    width: fit-content;
  }

  .professional-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    padding-top: 2rem;
  }

  .introduction>img {
    width: 8rem;
    height: 8rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2{
    font-size: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85vh;
    height: fit-content;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 0.2rem solid rgb(80, 77, 77);
  }

  .labor-education{
    width: 100vh;
    height: fit-content;
    box-sizing: border-box;
    width: 85vh;
  }

}